In [48]:
import numpy as np
import pandas as pd

In [49]:
df = pd.read_excel('FilteredViewTransactionsExpensesAll_CSILakiMIesNet_Eng.xlsx')
df.head(2)
df['Assigment name '] = df['Assignment / Toimeksianto'].map(lambda x: ' '.join(x.split('-')[1:]))

In [50]:
date_columns = ['Date / Päiväys', 'Entry Date / Kirjauspäivä', 'Invoicing Date / Laskutuspäivä', 'Payment Date / Maksupäivä']

df[date_columns] = df[date_columns].astype(str)
for date_column in date_columns:
    df[date_column] = df[date_column].apply(lambda x: str(x)[:10])

new_columns = [column.split('/')[0][:-1] for column in df.columns]

df.columns = new_columns

bool_columns = ['Internal', 'Non-Billable']

for colname in bool_columns:
    df[colname] = df[colname].apply(lambda x: 'True' if x else 'False')

df['Assignment'] = df['Assignment'].apply(lambda x: x.split()[0])

In [51]:
non_use = ['Business Unit', 'Business Area', 'Job Title', 'Manager', 'Account', 'Assignment.agency_gui',
           'Assignment.Owner_Gui', 'Assignment.Responsible_Person_Gui','Assignment.Record_Gui', 'User',
           'User.Record_Gui', 'Users.Manager_Gui', 'Registered']

common_cols =  ['Parent Company', 'Parent Company Type', 'Parent Company Home Country',
       'Parent Company Industry', 'Parent Company Responsible', 'Principal',
       'Principal Type', 'Principal Home Country', 'Payer',
       'Payer Home Country', 'Industry', 'Customer Responsible',
       'Seller', 'Cost Center', 'Assignment Type', 'Author', 'Category', 
        'Employee Role', 'Internal', 'Assigment name', 'Customer Responsible', 'Owner', 'Responsible']

df = df[[x for x in df.columns if x not in non_use]]

uncommon_cols = [col for col in df.columns if col not in common_cols + ['Assignment', 'Transaction Type']]

In [52]:
df_common = df[['Assignment'] + common_cols].drop_duplicates(['Assignment']).set_index('Assignment')

In [53]:
rename_dict = {
    'Transaction Type Englis': 'Transaction Type English',
    'Transaction status (Ope': 'Transaction status',
    'Status (Registere': 'Status',
    'Type (Fe': 'Type',
}

def aggregator(rec):
#     print(rec[['Billable Hours', 'Status (Registere', 'Paid', 'Invoiced', 'Margin', 'Invoicing Date', 'Total']])
    max_index = np.max(list(rec.index))
    result = pd.Series(rec.loc[max_index, :])
    result['Billable Hours'] = np.sum(rec['Billable Hours'].dropna())
    result['Hours Worked'] = np.sum(rec['Hours Worked'].dropna())
    result['Paid'] = np.sum(rec['Paid'].dropna())
    result['Invoiced'] = np.max(rec['Invoiced'].dropna())
    result['Margin'] = np.max(rec['Margin'].dropna())
    result['Total'] = np.max(rec['Total'].dropna())
    result_new = result[uncommon_cols]
    result_new = result_new.rename(rename_dict)
    return result_new.to_dict()

In [54]:
result = df.groupby(['Assignment', 'Transaction'], as_index=True).apply(lambda x: aggregator(x))
result = result.reset_index()
result = result.rename(columns = {0: 'Transactions'})

In [55]:
def transaction_num_adder(rec):
#     print(rec)
#     new_rec = pd.DataFrame(rec)
#     new_rec.loc[:,'transaction_num'] = np.arange(len(new_rec))
#     print(new_rec)
#     new_rec.T.to_dict()
#     print(rec)
#     try:
        for transaction_num, index in enumerate(rec.index):
            rec.loc[index, 'Transactions'].update(
                {
                    'Transaction Number': transaction_num + 1,
                }
            )
#     except:
#         print(rec)
#     return new_rec.T.to_dict()

In [56]:
result.groupby(['Assignment'], as_index = False).agg(transaction_num_adder)

    Assignment Transaction Transactions
0            1        None         None
1           10        None         None
2           11        None         None
3           12        None         None
4           13        None         None
5           14        None         None
6           15        None         None
7           16        None         None
8           17        None         None
9           18        None         None
10           2        None         None
11    20080001        None         None
12    20080004        None         None
13    20080005        None         None
14    20080006        None         None
15    20080007        None         None
16    20080008        None         None
17    20080009        None         None
18    20080010        None         None
19    20080011        None         None
20    20080012        None         None
21    20080014        None         None
22    20080015        None         None
23    20080016        None         None
24    20080017        None         None
25    20080018        None         None
26    20080019        None         None
27    20080020        None         None
28    20080021        None         None
29    20080022        None         None
..         ...         ...          ...
177   20120031        None         None
178   20120032        None         None
179   20120033        None         None
180   20120034        None         None
181   20120035        None         None
182   20120036        None         None
183   20120037        None         None
184   20120038        None         None
185   20120039        None         None
186   20120040        None         None
187   20120041        None         None
188   20120042        None         None
189   20120043        None         None
190   20120044        None         None
191   20120045        None         None
192   20120046        None         None
193   20120047        None         None
194   20120048        None         None
195   20120049        None         None
196   20120050        None         None
197   20120051        None         None
198   20120052        None         None
199   20120053        None         None
200          3        None         None
201          4        None         None
202          5        None         None
203          6        None         None
204          7        None         None
205          8        None         None
206          9        None         None

[207 rows x 3 columns]

In [57]:
# result.loc[result['Assignment'] == '12', 'Transactions'].iloc[2]

In [58]:
result_json = {}
def anton_agg(rec):
    key = rec['Assignment'].iloc[0]
    result = {rec.loc[i,'Transaction']: rec.loc[i,'Transactions'] for i in rec.index}
    output = {
        key: result,
    }
    result_json.update(output)

after_group_by = result.groupby(['Assignment'], as_index=False).agg(anton_agg)

series_uncommon = pd.Series(result_json, name = 'Transactions')

In [59]:
df_prefinal = pd.concat([df_common, series_uncommon], axis = 1)
df_prefinal = df_prefinal.rename(columns = {0: 'Transactions'})

sum_columns = ['Total', 'Margin', 'Paid', 'Invoiced', 'Billable Hours', 'Hours Worked']

In [60]:
df_prefinal;

In [61]:
for colname in sum_columns:
    df_prefinal[colname + '_sum'] = df_prefinal['Transactions'].map(lambda x: sum([x[j][colname] for j in list(x.keys())]))

In [62]:
df_prefinal.to_csv('df_prefinal.csv', index = False)

In [63]:
common_dict = df_prefinal.drop(['Transactions'], axis = 1).T.to_dict()

In [64]:
series_common = pd.Series(common_dict, name= 'Info')

In [121]:
group_by_min = df.groupby(['Assignment']).agg(
    {
        'Entry Date': np.min,
    }
)
group_by_min.columns = ['min_date']
group_by_min['min_date'] = pd.to_datetime(group_by_min['min_date'])

group_by_max = df.groupby(['Assignment']).agg(
    {
        'Entry Date': np.max,
    }
)
group_by_max.columns = ['max_date']
group_by_max['max_date'] = pd.to_datetime(group_by_max['max_date'])


df_time = pd.concat([group_by_max, group_by_min], axis = 1)
df_time['date_sample'] = df_time.apply(lambda x: str(((x['max_date']- x['min_date']) // 3) * 2 + x['min_date'])[:10], axis=1).astype(str)#[:10]
df_time['date_more'] = df_time.apply(lambda x: str(x['max_date'] + pd.to_timedelta(1,unit='D'))[:10], axis=1)
df_time['min_date'] = df_time['min_date'].apply(lambda x: str(x)[:10])
df_time['max_date'] = df_time['max_date'].apply(lambda x: str(x)[:10])

# df_time['Info'] = df.apply(lambda x: x.to_dict(), axis = 1)

In [122]:
# series_dates =  df.apply(lambda x: x.to_dict(), axis = 1)
# series_dates = series_dates.rename(columns = {0:'Info'})
# series_dates.name = 'Info'

In [129]:
json_4 = pd.concat([series_common, series_uncommon, df_time], axis=1).T.to_dict()

In [133]:
# json_4['1']['date_sample']

In [131]:
import json

In [132]:
json.dump(json_4, open('json_4', 'w'))

In [22]:
def aggregator_transactions(rec):
#     print(rec[['Billable Hours', 'Status (Registere', 'Paid', 'Invoiced', 'Margin', 'Invoicing Date', 'Total']])
    max_index = np.max(list(rec.index))
    result = pd.Series(rec.loc[max_index, :])
    result['Billable Hours'] = np.sum(rec['Billable Hours'].dropna())
    result['Hours Worked'] = np.sum(rec['Hours Worked'].dropna())
    result['Paid'] = np.sum(rec['Paid'].dropna())
    result['Invoiced'] = np.max(rec['Invoiced'].dropna())
    result['Margin'] = np.max(rec['Margin'].dropna())
    result['Total'] = np.max(rec['Total'].dropna())
    return result.to_dict()

In [23]:
df_transactions = df.groupby(['Assignment', 'Transaction'], as_index=True).apply(lambda x: aggregator_transactions(x))
df_transactions = df_transactions.reset_index()
df_transactions = df_transactions.rename(columns = {0: 'Transactions'})

In [24]:
content = df_transactions['Transactions'].apply(lambda x: pd.Series(x))

In [25]:
content['Hour Price']

0       170.0
1       170.0
2         NaN
3       170.0
4       170.0
5       170.0
6       170.0
7         NaN
8       170.0
9         NaN
10        0.0
11      170.0
12      170.0
13      170.0
14        NaN
15        NaN
16      100.0
17      170.0
18      200.0
19      200.0
20      170.0
21        NaN
22      170.0
23        NaN
24        NaN
25      170.0
26      170.0
27        NaN
28        NaN
29      170.0
        ...
1130    170.0
1131    170.0
1132      NaN
1133      NaN
1134      NaN
1135      NaN
1136    170.0
1137    170.0
1138      0.0
1139    170.0
1140    170.0
1141    170.0
1142    170.0
1143    170.0
1144    170.0
1145    170.0
1146    170.0
1147    170.0
1148      NaN
1149    170.0
1150    170.0
1151    170.0
1152    250.0
1153    170.0
1154    150.0
1155      NaN
1156    170.0
1157    170.0
1158    500.0
1159    170.0
Name: Hour Price, Length: 1160, dtype: float64

In [26]:
def checker(rec):
    return np.mean(pd.Series(rec).dropna())
#     return list(np.unique(rec))
#     return len(np.unique(rec))

In [27]:
df_lawer_assignment_price = content[['Responsible', 'Hour Price', 'Assignment Type']].groupby(['Responsible', 'Assignment Type']).agg(checker)
df_lawer_price = content[['Responsible', 'Hour Price']].groupby(['Responsible']).agg(checker)
df_assignment_price = content[['Assignment Type', 'Hour Price']].groupby(['Assignment Type']).agg(checker)

In [46]:
df_lawer_assignment_price

                                                            Hour Price
Responsible       Assignment Type
Boris Keilaniemi  Arviointipalvelu - Asuinhuoneistot        170.000000
                  Arviointipalvelu - Tontit                 100.000000
                  Edunvalvontapalvelu - Korvausneuvottelut  170.000000
                  Edunvalvontapalvelu - Maantiet            170.000000
                  Hallintoasia                              153.478261
                  Kilpailuoikeus                            170.000000
                  Konsultointia                             180.000000
                  Perintöoikeus                             170.000000
                  Rahoitusoikeus                            137.142857
                  Rikosoikeus                               380.000000
                  Sopimusoikeus                             196.666667
                  Velkomusasia                              210.000000
Elias Muonio      Hallintoasia                              131.750000
Helen Hakaniemi   Arviointipalvelu - Tontit                 250.000000
                  Hallintoasia                              132.758621
                  Kilpailuoikeus                            168.175647
                  Konsultointia                             177.500000
                  Perheoikeus                               231.250000
                  Perintöoikeus                             147.096774
                  Rahoitusoikeus                            151.250000
                  Rikosoikeus                               255.220126
                  Sopimusoikeus                             155.000000
                  Työoikeus                                 160.625000
                  Vero-oikeus                               170.000000
                  Yritysoikeus                              157.857143
Jari London       Hallintoasia                              150.000000
                  Konsultointia                             172.000000
                  Perintöoikeus                             185.000000
Jopi Jalkapuoli   Arviointipalvelu - Tontit                 170.000000
                  Hallintoasia                              167.142857
...                                                                ...
Nelli Niittykumpu Edunvalvontapalvelu - Maantiet            300.000000
                  Hallintoasia                              185.375000
                  Jatkuva luottopäätös                      170.000000
                  Kilpailuoikeus                            168.000000
                  Konsultointia                             136.000000
                  Perheoikeus                               166.666667
                  Rahoitusoikeus                            170.000000
                  Rikosoikeus                               176.000000
                  Sopimusoikeus                             190.000000
                  Työoikeus                                 120.000000
                  Velkomusasia                              132.857143
                  Yritysoikeus                              170.000000
Seppo Sörnäinen   Hallintoasia                              182.500000
                  Perheoikeus                               170.000000
Viivi Vuosaari    Arviointipalvelu - Asuinhuoneistot        670.000000
                  Arviointipalvelu - Tontit                 168.000000
                  Hallintoasia                              163.750000
                  Kilpailuoikeus                            159.448182
                  Konsultointia                             176.000000
                  Perheoikeus                               162.000000
                  Perintöoikeus                             170.000000
                  Rahoitusoikeus                            172.500000
                  Rikosoikeus                               147.857143
                  Sopimusoikeus                             185.000000
Yki Kontula       Arviointipalvelu - Asuinhuoneistot        200.000000
                  Hallintoasia                              141.666667
                  Kilpailuoikeus                            168.545455
                  Perheoikeus                               136.000000
                  Perintöoikeus                             170.000000
                  Rikosoikeus                               182.000000

[91 rows x 1 columns]

In [45]:
df_lawer_assignment_price.to_csv('df_lawer_assignment_price.csv', index = True)
df_lawer_price.to_csv('df_lawer_price.csv', index = True)
df_assignment_price.to_csv('df_assignment_price.csv', index = True)

In [28]:
lawer_counts = content[['Responsible', 'Hour Price', 'Assignment Type']].groupby(['Responsible', 'Assignment Type'], as_index=False).agg(np.count_nonzero)

In [29]:
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

In [30]:
init_notebook_mode(connected=True)

In [31]:
import plotly
import plotly.graph_objs

In [32]:
responsible_name = 'Boris Keilaniemi'

In [33]:
assignment_name = 'Rahoitusoikeus'

In [34]:
lawer_counts.loc[lawer_counts['Responsible'] == responsible_name, :]

         Responsible                           Assignment Type  Hour Price
0   Boris Keilaniemi        Arviointipalvelu - Asuinhuoneistot         5.0
1   Boris Keilaniemi                 Arviointipalvelu - Tontit         7.0
2   Boris Keilaniemi  Edunvalvontapalvelu - Korvausneuvottelut         1.0
3   Boris Keilaniemi            Edunvalvontapalvelu - Maantiet         7.0
4   Boris Keilaniemi                              Hallintoasia        30.0
5   Boris Keilaniemi                            Kilpailuoikeus         7.0
6   Boris Keilaniemi                             Konsultointia         3.0
7   Boris Keilaniemi                             Perintöoikeus         3.0
8   Boris Keilaniemi                            Rahoitusoikeus         6.0
9   Boris Keilaniemi                               Rikosoikeus        10.0
10  Boris Keilaniemi                             Sopimusoikeus        16.0
11  Boris Keilaniemi                              Velkomusasia        14.0

In [35]:
mean_assignment_price = int(df_assignment_price.loc[assignment_name, 'Hour Price'])

In [42]:
lawer_counts.to_csv('lawer_counts.csv', index = False)

In [36]:
import plotly.plotly as py

In [37]:
lawer_counts

def get_lawer_assignment_info(responsible_name, assignment_name):
    mean_lawer_price = int(df_lawer_price.loc[responsible_name, 'Hour Price'])
    mean_assignment_price = int(df_assignment_price.loc[assignment_name, 'Hour Price'])
    mean_lawer_assignment_price = int(df_lawer_assignment_price.loc[(responsible_name, assignment_name), 'Hour Price'])
    
    result = {
        'mean_lawer_price': mean_lawer_price,
        'mean_assignment_price': mean_assignment_price,
        'mean_lawer_assignment_price': mean_lawer_assignment_price,
    }
    
    mask_lawer = lawer_counts['Responsible'] == responsible_name
    assignment_types = lawer_counts.loc[mask_lawer, 'Assignment Type'].values
    hour_prices = lawer_counts.loc[mask_lawer, 'Hour Price'].values

#     filename = f'/Users/smerdov/Junction2017/{responsible_name}.html'
#     filename = '/Users/smerdov/Junction2017/Piechart.html'
    fig = plotly.offline.plot(
        {
            "data": [
                plotly.graph_objs.Pie(labels=assignment_types,values=hour_prices)
            ]
        },
#         filename = filename,
        image = 'jpeg',
    )
    
#     py.image.save_as(fig, filename='a-simple-plot.png')
    
    return result

In [38]:
a = get_lawer_assignment_info(responsible_name, assignment_name)

In [244]:
a

{'mean_assignment_price': 172,
 'mean_lawer_assignment_price': 137,
 'mean_lawer_price': 188}

In [288]:
content.to_csv('content.csv', index = False)

In [20]:
json_1['1']['Info']

{'Assigment name': ' Osakekauppariita',
 'Assignment Type': 'Kilpailuoikeus',
 'Author': 'Helen Hakaniemi',
 'Billable Hours_sum': 24.0,
 'Category': nan,
 'Cost Center': nan,
 'Customer Responsible': 'Helen Hakaniemi',
 'Employee Role': nan,
 'Hours Worked_sum': 24.0,
 'Industry': 'Muu',
 'Internal': 'False',
 'Invoiced_sum': 1360.0,
 'Margin_sum': nan,
 'Owner': 'Helen Hakaniemi',
 'Paid_sum': 1360.01,
 'Parent Company': nan,
 'Parent Company Home Country': nan,
 'Parent Company Industry': nan,
 'Parent Company Responsible': nan,
 'Parent Company Type': nan,
 'Payer': nan,
 'Payer Home Country': nan,
 'Principal': 'AsuntoOy Ankka Linna',
 'Principal Home Country': 'Suomi',
 'Principal Type': 'Prospect',
 'Responsible': 'Boris Keilaniemi',
 'Seller': nan,
 'Total_sum': 1360.0}

In [21]:
# def check_count(rec):
#     return len(np.unique(rec))

# agg_names_list = [
#     'Principal',
#     'Customer Responsible',
#     'Owner',
#     'Responsible',
#     'Seller',
#     'Author',
#     'Payer',
# ]

# agg_dict = {name: check_count for name in agg_names_list}

In [24]:
import json

In [25]:
json.dump(json_1, open('json_1', 'w'))

In [7]:
for colname in df.columns:
    # print(df['Principal / Toimeksiantaja'].value_counts()()
    value_counts = df[colname].value_counts()
    print(colname, '\n', 'n different values is', len(value_counts), '\nmost popular is\n', value_counts.head(10), '\n number of nans is', df[colname].isnull().sum())
    print()

Parent Company
 n different values is 6
most popular is
 Kolmio Oy                494
Ankallispankki Oy         58
Tiinan Muonitus Oy        53
Leivolan Leivokset Oy      9
Hannu Hanhi Oy             4
A yhtiö Oy                 2
Name: Parent Company, dtype: int64
 number of nans is 4617

Parent Company Type
 n different values is 2
most popular is
 Asiakas       547
Osakeyhtiö     62
Name: Parent Company Type, dtype: int64
 number of nans is 4628

Parent Company Home Country
 n different values is 1
most popular is
 Suomi    620
Name: Parent Company Home Country, dtype: int64
 number of nans is 4617

Parent Company Industry
 n different values is 1
most popular is
 Pankki    60
Name: Parent Company Industry, dtype: int64
 number of nans is 5177

Parent Company Responsible
 n different values is 5
most popular is
 Nelli Niittykumpu     494
Helen Hakaniemi        58
Viivi Vuosaari         53
Lenita Lauttasaari      9
Kustaa Kulosaari        6
Name: Parent Company Responsible, dtype: int64
 number of nans is 4617

Principal
 n different values is 140
most popular is
 Ahdinko Oy               494
Ankallispankki Oy        213
Sepon Kauppa Oy          182
Suutari Kenkä Oy         166
AsuntoOy Ankka Linna     165
Onni Oy                  152
Riston Rengas Oy         106
Sallan Salonki Ky         95
Roimaan Kalastusliike     91
Ankka Ukko                90
Name: Principal, dtype: int64
 number of nans is 0

Principal Type
 n different values is 5
most popular is
 Customer        859
Prospect        691
Other           198
Key customer     79
Partner           3
Name: Principal Type, dtype: int64
 number of nans is 3407

Principal Home Country
 n different values is 5
most popular is
 Suomi                       4634
Norja                        582
USA                           12
Yhdistynyt kuningaskunta       6
Ruotsi                         3
Name: Principal Home Country, dtype: int64
 number of nans is 0

Payer
 n different values is 129
most popular is
 AsuntoOy Ankka Linna    162
Ankallispankki Oy       159
Suutari Kenkä Oy        131
Onni Oy                 121
Sepon Kauppa Oy         109
Sallan Salonki Ky       104
Riston Rengas Oy         93
Pohjanmaan Paja Oy       81
Miinan Muona Oy          76
IT Ihme Oy               72
Name: Payer, dtype: int64
 number of nans is 1612

Payer Home Country
 n different values is 4
most popular is
 Suomi                       3487
Norja                        119
Yhdistynyt kuningaskunta      10
u.s.a.                         9
Name: Payer Home Country, dtype: int64
 number of nans is 1612

Industry
 n different values is 7
most popular is
 Muu                564
Pankki             225
Kauppa             173
Ohjelmisto          88
Asianajo            71
Kiinteistötoimi     46
Energia              4
Name: Industry, dtype: int64
 number of nans is 4066

Customer Responsible
 n different values is 13
most popular is
 Helen Hakaniemi       2003
Kustaa Kulosaari       852
Jopi Jalkapuoli        677
Nelli Niittykumpu      487
Viivi Vuosaari         398
Boris Keilaniemi       322
Yki Kontula            245
Lenita Lauttasaari     176
Jari London             23
Kati Alley              17
Name: Customer Responsible, dtype: int64
 number of nans is 0

Business Unit
 n different values is 1
most popular is
 Asianajotoimisto Koulutus Oy    5237
Name: Business Unit, dtype: int64
 number of nans is 0

Assignment Type
 n different values is 19
most popular is
 Kilpailuoikeus    972
Hallintoasia      708
Rikosoikeus       629
Konsultointia     579
Perheoikeus       518
Perintöoikeus     512
Työoikeus         263
Sopimusoikeus     254
Rahoitusoikeus    211
Velkomusasia      191
Name: Assignment Type, dtype: int64
 number of nans is 0

Business Area
 n different values is 0
most popular is
 Series([], Name: Business Area, dtype: int64)
 number of nans is 5237

Owner
 n different values is 13
most popular is
 Helen Hakaniemi       2003
Kati Alley             644
Boris Keilaniemi       451
Nelli Niittykumpu      444
Jopi Jalkapuoli        435
Viivi Vuosaari         385
Kustaa Kulosaari       351
Lenita Lauttasaari     213
Yki Kontula            207
Marika Monroe           36
Name: Owner, dtype: int64
 number of nans is 0

Responsible
 n different values is 15
most popular is
 Helen Hakaniemi       2013
Kati Alley             600
Boris Keilaniemi       507
Jopi Jalkapuoli        444
Viivi Vuosaari         394
Nelli Niittykumpu      394
Kustaa Kulosaari       286
Yki Kontula            256
Lenita Lauttasaari     192
Seppo Sörnäinen         49
Name: Responsible, dtype: int64
 number of nans is 0

Seller
 n different values is 2
most popular is
 Boris Keilaniemi    39
Kati Alley          21
Name: Seller, dtype: int64
 number of nans is 5177

Cost Center
 n different values is 8
most popular is
 Lakipalveluja          1353
Palvelu                 468
Hallinto                228
Arviointipalvelu        123
Kehitys                  96
Edunvalvontapalvelu      56
valkeakoski              52
Tre                      43
Name: Cost Center, dtype: int64
 number of nans is 2818

Assignment
 n different values is 207
most popular is
 20120043 - Konsultointia                                               433
20080005 - Murto pankkiin                                              110
20090025 - Kartelli                                                    106
20090052 - Murto Sepon kauppaan                                        103
20090022 - Kartelli                                                     92
20090004 - Perheriita                                                   91
20080011 - Työsopimuksen irtisanominen                                  90
20080028 - Hallinnollinen asia                                          86
20080007 - Urakkariita Onni Oy / Tilaaja Oy, helsingin käräjäoikeus     86
20080064 - Rikosoikeus; riitaisa asia                                   83
Name: Assignment, dtype: int64
 number of nans is 0

Internal
 n different values is 2
most popular is
 False    5230
True        7
Name: Internal, dtype: int64
 number of nans is 0

Category
 n different values is 1
most popular is
 Laskutettava    120
Name: Category, dtype: int64
 number of nans is 5117

Transaction Type Englis
 n different values is 38
most popular is
 Phone meeting                                      805
Meeting at the office                              430
Mileage allowance                                  400
Court appearance                                   398
Writing a complaint                                354
Negotiation                                        343
Visiting the customer                              305
Writing a letter                                   227
Investigation                                      218
Writing a debt collection letter to counterpart    210
Name: Transaction Type Englis, dtype: int64
 number of nans is 239

Transaction Type
 n different values is 40
most popular is
 Puhelinneuvottelu                          805
Neuvottelu tstossa                         430
Kilometrikorvaus                           400
Esiintyminen oikeudessa                    398
Neuvottelu                                 343
Käynti asiakkaan luona                     305
Laadittu kirje                             227
Tutkittu asiaa                             218
Perintäkirjeen laatiminen vastapuolelle    210
Haastehakemuksen työstäminen               200
Name: Transaction Type, dtype: int64
 number of nans is 239

Skill
 n different values is 3
most popular is
 juridiikka               66
kiinteistön arviointi     9
maan arviointi            6
Name: Skill, dtype: int64
 number of nans is 5156

Employee Role
 n different values is 2
most popular is
 Osakas          387
Asiantuntija    232
Name: Employee Role, dtype: int64
 number of nans is 4618

Job Title
 n different values is 0
most popular is
 Series([], Name: Job Title, dtype: int64)
 number of nans is 5237

Manager
 n different values is 0
most popular is
 Series([], Name: Manager, dtype: int64)
 number of nans is 5237

Author
 n different values is 16
most popular is
 Helen Hakaniemi       1963
Nelli Niittykumpu      589
Jopi Jalkapuoli        535
Viivi Vuosaari         463
Kustaa Kulosaari       389
Boris Keilaniemi       387
Yki Kontula            253
Kati Alley             232
Lenita Lauttasaari     197
Elias Muonio            83
Name: Author, dtype: int64
 number of nans is 0

Date
 n different values is 277
most popular is
 2010-01-21    435
2009-03-12    236
2009-12-21    194
2010-01-28    192
2009-01-28    166
2010-09-01    160
2010-02-19    132
2010-02-10    126
2009-01-07    118
2010-06-02    115
Name: Date, dtype: int64
 number of nans is 0

Total
 n different values is 1419
most popular is
 0.0      430
170.0    272
340.0    240
850.0    133
255.0    127
510.0    120
85.0     109
42.5      71
400.0     58
50.0      56
Name: Total, dtype: int64
 number of nans is 0

Billable Hours
 n different values is 343
most popular is
  0.00    647
 1.00    425
 2.00    418
 3.00    264
 5.00    228
 0.50    165
 0.25    165
 1.50    145
-2.00     93
 2.50     89
Name: Billable Hours, dtype: int64
 number of nans is 1032

Hours Worked
 n different values is 336
most popular is
  0.00    1105
 2.00     347
 1.00     295
 3.00     281
 5.00     171
 1.50     141
 0.50     129
 0.25     123
 4.00      89
-2.00      79
Name: Hours Worked, dtype: int64
 number of nans is 1032

Hour Price
 n different values is 40
most popular is
 170.0    2547
200.0     447
0.0       148
300.0     144
150.0     115
120.0     111
250.0      98
100.0      84
130.0      67
180.0      65
Name: Hour Price, dtype: int64
 number of nans is 1032

Margin
 n different values is 1323
most popular is
  0.0      236
 140.0    197
 310.0    123
 170.0     97
-30.0      86
 280.0     82
 820.0     78
 55.0      59
 420.0     59
 480.0     56
Name: Margin, dtype: int64
 number of nans is 1032

Account
 n different values is 0
most popular is
 Series([], Name: Account, dtype: int64)
 number of nans is 5237

Tax Rate
 n different values is 7
most popular is
 Alv 22 %    2651
Veroton      590
Alv 23 %     352
Alv 24 %     129
Alv 0 %       94
Alv 9 %       12
Alv 8 %       11
Name: Tax Rate, dtype: int64
 number of nans is 1398

Cost Center (Business Unit)
 n different values is 8
most popular is
 Lakipalveluja          1255
Palvelu                 344
Hallinto                178
Arviointipalvelu         97
Kehitys                  75
Edunvalvontapalvelu      59
valkeakoski              50
Tre                      43
Name: Cost Center (Business Unit), dtype: int64
 number of nans is 3136

Transaction
 n different values is 374
most popular is
 Puhelinneuvottelu               457
Neuvottelu                      274
Käynti asiakkaan luona          255
Esiintyminen oikeudessa         244
Neuvottelu tstossa              233
Kilometrikorvaus                230
Laadittu kirje                  181
Haastehakemuksen työstäminen    168
Kaupparekisteriote              150
Toimeksiantoon perehtyminen     130
Name: Transaction, dtype: int64
 number of nans is 0

Transaction status (Ope
 n different values is 8
most popular is
 Maksettu        1631
Avoin           1038
Laskutettu       927
Hyvitetty        855
Peruttu          526
Tulostettu       230
Ei laskuteta      16
Lähetetty         14
Name: Transaction status (Ope, dtype: int64
 number of nans is 0

Entry Date
 n different values is 246
most popular is
 2010-01-21    320
2009-01-28    216
2008-10-01    194
2010-01-28    174
2010-02-19    169
2010-06-02    132
2010-04-07    124
2009-12-21    116
2010-02-10    108
2009-02-12    105
Name: Entry Date, dtype: int64
 number of nans is 0

Invoicing Date
 n different values is 119
most popular is
 2010-01-21    376
2009-03-12    250
2009-01-07    229
2009-01-28    202
2009-12-21    198
2010-02-19    157
2010-01-28    122
2010-02-10    118
2010-09-01    111
2010-04-07    108
Name: Invoicing Date, dtype: int64
 number of nans is 685

Payment Date
 n different values is 68
most popular is
 2010-01-21    299
2009-03-12    160
2010-09-01    134
2009-12-21    112
2010-01-27    108
2009-10-08    101
2009-11-05     67
2013-05-31     60
2012-02-16     54
2009-03-11     50
Name: Payment Date, dtype: int64
 number of nans is 3056

Registered
 n different values is 268
most popular is
 170.0    149
0.0      130
340.0    121
850.0     80
510.0     57
85.0      55
255.0     53
600.0     38
42.5      36
400.0     33
Name: Registered, dtype: int64
 number of nans is 3625

Invoiced
 n different values is 736
most popular is
  0.0      143
 170.0    106
 340.0    101
 255.0     66
 510.0     53
 85.0      45
 850.0     44
-340.0     36
-170.0     35
 45.0      35
Name: Invoiced, dtype: int64
 number of nans is 2902

Paid
 n different values is 788
most popular is
 0.00      157
340.00     18
170.00     17
42.50      11
510.00     10
850.00      9
85.00       9
255.00      8
46.02       8
109.33      8
Name: Paid, dtype: int64
 number of nans is 3947

Status (Registere
 n different values is 3
most popular is
 Laskutettu    2335
Kirjattu      1612
Maksettu      1290
Name: Status (Registere, dtype: int64
 number of nans is 0

Type (Fe
 n different values is 2
most popular is
 Palkkio    4205
Kulu       1032
Name: Type (Fe, dtype: int64
 number of nans is 0

User
 n different values is 16
most popular is
 20db0c13-c601-4076-b161-7ac3af250c2d    1963
f9cfb529-29b3-49aa-b748-932dfc07aba1     589
f26b564c-f150-406b-8c72-e1d518514358     535
8e4513e1-3e63-4c8a-ab28-a6692f85982f     463
aa7aefd0-dbad-4217-a275-5d029ee655ef     389
deb049ee-93d0-49df-8aea-1045c63a90f2     387
554d8ec0-1514-4ac0-bf55-79bbbc075633     253
08b2ac4f-28dc-4358-9c6c-0cb7fb389557     232
d5fb8490-d3e9-44d6-8cbc-e8630f1e307f     197
3017453a-7a7e-491e-b8f8-97a2060205d5      83
Name: User, dtype: int64
 number of nans is 0

Invoice Number
 n different values is 595
most popular is
 20090144    72
20080110    49
20080044    45
20090001    45
20090199    42
20090011    36
20090204    36
20090004    35
20090129    30
20090159    30
Name: Invoice Number, dtype: int64
 number of nans is 1612

Non-Billable
 n different values is 2
most popular is
 False    5221
True       16
Name: Non-Billable, dtype: int64
 number of nans is 0

Assignment.agency_gui
 n different values is 1
most popular is
 faa6df72-06be-4eaf-999e-022ef49754eb    5237
Name: Assignment.agency_gui, dtype: int64
 number of nans is 0

Assignment.Owner_Gui
 n different values is 13
most popular is
 20db0c13-c601-4076-b161-7ac3af250c2d    2003
08b2ac4f-28dc-4358-9c6c-0cb7fb389557     644
deb049ee-93d0-49df-8aea-1045c63a90f2     451
f9cfb529-29b3-49aa-b748-932dfc07aba1     444
f26b564c-f150-406b-8c72-e1d518514358     435
8e4513e1-3e63-4c8a-ab28-a6692f85982f     385
aa7aefd0-dbad-4217-a275-5d029ee655ef     351
d5fb8490-d3e9-44d6-8cbc-e8630f1e307f     213
554d8ec0-1514-4ac0-bf55-79bbbc075633     207
8a01f271-ba8c-4df2-a094-a18f04d72b7f      36
Name: Assignment.Owner_Gui, dtype: int64
 number of nans is 0

Assignment.Responsible_Person_Gui
 n different values is 15
most popular is
 20db0c13-c601-4076-b161-7ac3af250c2d    2013
08b2ac4f-28dc-4358-9c6c-0cb7fb389557     600
deb049ee-93d0-49df-8aea-1045c63a90f2     507
f26b564c-f150-406b-8c72-e1d518514358     444
8e4513e1-3e63-4c8a-ab28-a6692f85982f     394
f9cfb529-29b3-49aa-b748-932dfc07aba1     394
aa7aefd0-dbad-4217-a275-5d029ee655ef     286
554d8ec0-1514-4ac0-bf55-79bbbc075633     256
d5fb8490-d3e9-44d6-8cbc-e8630f1e307f     192
d42a7787-f11c-48ab-9749-506147b6c4f3      49
Name: Assignment.Responsible_Person_Gui, dtype: int64
 number of nans is 0

Assignment.Record_Gui
 n different values is 207
most popular is
 cbebe986-833e-4b9a-bbc9-597dae7f75d1    433
4b5fe04a-cab6-4f77-96a5-af43cff1b41f    110
e8be9ab2-07c7-458b-a512-8da0d8f7440c    106
6c37c04b-225a-43a5-9ea6-4fc6812cbe05    103
14af6ead-0cda-4052-acb2-41fad4719df8     92
a553da1a-a17a-451d-8d99-efd3538aba65     91
a6ef1723-e84f-4ce0-90b4-10485b757399     90
1ff53ed0-65f3-46e8-bd68-0f452810b95b     86
69b90290-9857-429f-87c8-0af1645487ee     86
e7e09fb9-377c-4ce1-812c-6f91865ecb4e     83
Name: Assignment.Record_Gui, dtype: int64
 number of nans is 0

User.Record_Gui
 n different values is 16
most popular is
 20db0c13-c601-4076-b161-7ac3af250c2d    1963
f9cfb529-29b3-49aa-b748-932dfc07aba1     589
f26b564c-f150-406b-8c72-e1d518514358     535
8e4513e1-3e63-4c8a-ab28-a6692f85982f     463
aa7aefd0-dbad-4217-a275-5d029ee655ef     389
deb049ee-93d0-49df-8aea-1045c63a90f2     387
554d8ec0-1514-4ac0-bf55-79bbbc075633     253
08b2ac4f-28dc-4358-9c6c-0cb7fb389557     232
d5fb8490-d3e9-44d6-8cbc-e8630f1e307f     197
3017453a-7a7e-491e-b8f8-97a2060205d5      83
Name: User.Record_Gui, dtype: int64
 number of nans is 0

Users.Manager_Gui
 n different values is 0
most popular is
 Series([], Name: Users.Manager_Gui, dtype: int64)
 number of nans is 5237